/* Colors
#5ab200;
#eb0f00;
button: #f5a02b;
button:hover:#f9c47c;
navbar: #ebd5b4;

Other colors:
#D7D52A;
#ffd439;
#F28A17;
#faa405;
#07A499;
#1cb0d4;
#FF7EA0;
#872E8C;


*/



body {
    font-size: 16px;
    margin: 0;
    padding: 0;
    /* Bootstrap uses rem which are relative to the root (html) size, therefore should be responsive */
}

p {
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 400;
    padding: 1rem 0;
}

h1 {
    font-weight: bold;
}

.green-h1 {
    font-size: 4rem;
    text-shadow: -1px -1px #5ab200,
        1px -1px 0 #5ab200,
        -1px 1px 0 #5ab200,
        1px 1px 0 #5ab200;
}

ul {
    padding-left: 0;
    list-style: none;
}

.btn-body {
    background-color: #f5a02b;
    font-weight: 600;
    border: 1px solid #872E8C;
}

button:hover {
    background-color: #f9c47c;
}

.fab {
    padding: 0 .5rem 0 0;
    font-size: 1.5rem;
}

.fa-facebook-f,
.fa-facebook-square {
    color: #3b5998;
}

.fa-twitter,
.fa-twitter-square {
    color: #00acee;
}

.fa-instagram,
.fa-instagram-square {
    color: transparent;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text;
}

/* Navbar */
.navbar-brand {
    margin-right: 0;
    margin-left: -1rem;
}

.navbar {
    background-color: #ebd5b4;
    padding: .5rem 2rem;
}

@media screen and (min-width: 768px) {
    .navbar {
        padding: 1.5rem 3rem;
    }
}


.navbar-expand-md .navbar-nav .nav-link {
    padding: 0 1.75rem;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 0;
}

.navbar-light .navbar-nav .active .nav-link {
    color: #eb0f00;
}

.navbar-light .navbar-nav.hover-color>li>a:hover {
    color: #eb0f00;
}

.navbar-nav {
    width: 80%;
    display: block;
    /* Use display: block to override bootstrap display: flex and be able to control the width */
    text-align: center;
    letter-spacing: 3px;
}

.navbar-nav li {
    display: inline-block;
    /* Note: posiition: relative is default, so no need to state it */
    line-height: 2;
    padding: 0 1rem;
}

.logo {
    width: 200px;
    object-fit: cover;
}

#socials-top {
    display: none;
}

@media screen and (min-width: 992px) {
    #socials-top {
        display: block;
    }
}


/* Home Carousel*/

.overpic {
    opacity: .8;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.car-logo {
    width: 100%;
}

.car-image {
    max-height: 50vh;
    object-fit: cover;
    margin: 98px 0 0 0;
    opacity: 1;
}

@media screen and (min-width: 768px) {
    .car-image {
        margin: 130px 0 0 0;
        max-height: 80vh;
        opacity: .85;
    }
}

/* 
.takeout {
    font-family: 'Lobster Two',
        cursive;
    padding: 0.27em .8em;
    border-radius: 3px;
    background-color: #5ab200;
    display: block;
    color: #fff;
    margin-bottom: 3rem;
    text-align: center;
}

.order-online {
    border: 1px solid #fff;
    color: #eb0f00;
    font-size: 1rem;
    letter-spacing: 3px;
    display: block;
    padding: 1rem;
    margin: 0 auto;
    width: 60%;
} 

These styles were used for an alternative cta*/

/* Story */
.container-story {
    text-align: center;
    padding: 5rem 1rem;
}

@media screen and (min-width: 576px) {
    .container-story {
        padding: 7rem 1rem;

    }
}


/* Menus */
.con-row {
    position: relative;
    height: 600px;
    background-color: #eb0f00;
}

.col,
.col-md {
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 768px) {
    .con-row {
        height: 600px;
        margin: 0;
    }
}

.rt-top {
    background-color: #fff;
    height: 40%;
}

.rt-btm {
    height: 100%;
}

@media screen and (min-width: 992px) {
    .rt-btm {
        height: 60%;
    }
}

.menu-image {
    object-fit: cover;
    height: 250px;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .menu-image {
        position: absolute;
        top: 0;
        left: 50%;
        object-fit: cover;
        height: 600px;
        width: 50%;
    }
}

@media screen and (min-width: 992px) {
    .menu-image {
        position: absolute;
        top: 50%;
        left: 65%;
        transform: translate(-50%, -50%);
        z-index: 2;
        width: 750px;
        height: 425px;
        object-fit: cover;
    }
}

.menu-text {
    z-index: 3;
    position: absolute;
    top: 310px;
    left: 45%;
    transform: translate(-50%, -50%);
    color: #fff;
}


@media screen and (min-width: 768px) {
    .menu-text {
        top: 50%;
    }
}

@media screen and (min-width: 992px) {
    .menu-text h1 {
        font-size: 8rem;
    }
}

.menu-text p {
    padding: 0;
}

@media screen and (min-width: 768px) {
    .menu-text p {
        max-width: 55%;
    }
}


/* Footer */
#footer {
    position: relative;
}

#footer-mobile {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 4;
}

#footer .btn {
    border-radius: 0;
    padding: .25rem;
}

#btn-loc {
    background-color: #5ab200;
    margin-top: .1rem;
}

#btn-loc:hover {
    background-color: #b0d887;
}

.footer-container {
    padding: 1.5rem 3rem;
    background-color: #ebd5b4;
    text-align: left;
}

.footer-nav {
    text-decoration: none;
    list-style-type: none;
    line-height: 1;
    font-size: 1rem;
    padding-left: 0;
    letter-spacing: 3px;
    font-weight: bold;
    display: flex;
    margin-bottom: 0;
}

.footer-container li>a {
    color: rgba(0, 0, 0, .5);
    padding-right: 2rem;
}

.footer-container li>a:hover {
    color: #eb0f00;
    text-decoration: none;
}

.my-company {
    background-color: #58b200;
    font-size: 1rem;
    text-align: center;
}

@media screen and (min-width: 992px) {
    .my-company {
        background-color: #58b200;
        font-size: 1rem;
        text-align: center;
        padding: 1rem 0;
    }
}

/* Template */
#hero {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 90vh;
}

#hero.car-image {
    max-height: 90vh;
}

.hero-h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.template-container {
    padding: 25px 40px;
}

.template-container .car-image {
    opacity: 1;
}

@media screen and (min-width: 768px) {
    .template-container {
        padding: 30px;
    }
}

@media screen and (min-width: 992px) {
    .template-container {
        padding: 50px;
    }
}

.avocado-background {
    position: relative;
    background: url(/images/test-brightness-400.png) no-repeat center fixed;
    background-size: 50% auto;
    background-position-x: 75px;
}

@media screen and (min-width: 768px) {
    .avocado-background {
        background-size: 40% auto;
        background-position-y: 150px;
        background-position-x: 50%;
    }
}

ul.list-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, auto);
    grid-column-gap: 1em;
    grid-auto-flow: column;
}

.menu-section-header {
    margin-bottom: 2.5rem;
}

.menu-section h2 {
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.menu-item-heading {
    font-size: 1.25rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1.5;
    margin-top: 0;
}

.menu-section p {
    margin: 0;
    padding: 0;
    letter-spacing: inherit;
}

.menu-section .price {
    font-size: 1.1rem;
    font-weight: 500;
}

.menu-section .veg {
    font-size: 80%;
    font-weight: normal;
}

.menu-item {
    margin-bottom: 2.5rem;
}

.just-button {
    padding: 39px;
    text-align: center;
}