/* Colors
Universal theme: #eb0f00;
Universal theme,
.btn-col2: #5ab200;
.btn-col2:hover: #b0d887;
.btn-col1: #f5a02b;
.btn-col1:hover:#f9c47c;
button border: #872E8C;
navbar: #ebd5b4;

Other colors not used:
#D7D52A;
#ffd439;
#07A499;
#1cb0d4;
#FF7EA0;

*/


/* Universals */
body {
    margin: 0;
    padding: 0;
}

/* Font */
.p-default {
    letter-spacing: 1px;
    padding: 1rem 0;
    line-height: 1.5;
    font-size: 1rem;
}

.hours .p-default {
    padding: 0;
}

@media screen and (min-width: 576px) {
    .p-default {
        font-size: 1.25rem;
    }
}

.header-default {
    line-height: 1.1;
    font-family: 'Libre Franklin',
        sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

.header-menu {
    font-size: 4rem;
    text-shadow: -1px -1px #5ab200,
        1px -1px 0 #5ab200,
        -1px 1px 0 #5ab200,
        1px 1px 0 #5ab200;
}

.header-default.header-menu {
    line-height: .8;
}

@media screen and (min-width: 992px) {
    .header-menu {
        font-size: 7rem;
    }
}

.h1-default {
    font-size: 2rem;
    color: #fff;
    margin: 1rem 0;
}

@media screen and (min-width: 992px) {
    .h1-default {
        font-size: 5rem;
    }
}

.con-default .h1-default {
    color: #000;
    margin-top: 0;
    line-height: 1.1;
}

.h2-default {
    font-size: 2rem;
}

@media screen and (min-width: 576px) {
    .h2-default {
        font-size: 3rem;
    }
}


/* Content */
.col-content {
    min-height: 60px;
    border-left: 1px solid #000;
    padding-left: 1rem;
    padding-bottom: 2.5rem;
}

.menu-sec-header {
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.menu-item {
    border-left: 1px solid #000;
    padding: 0 2rem 2.5rem 1rem;
    width: calc(50% - 30px);
    min-height: 60px;
    margin: 15px;
    background-color: #CEBFFF;
}

.menu-item-heading {
    font-size: 1.25rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0;
}

.menu-sec-content {
    margin: 0;
    line-height: 1.1;
}

.menu-sec-price {
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: .25rem;
    margin-top: 1rem;
}

.menu-sec-veg {
    font-size: 80%;
    font-weight: normal;
}

/* Lists */
.ul-default {
    padding-left: 0;
    list-style: none;
    letter-spacing: 3px;
    display: flex;
}

@media screen and (min-width: 992px) {
    .ul-default {
        width: 70%;
    }
}

.ul-grid-2col {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, auto);
    align-items: start;
    grid-auto-flow: column;
}

.list-nav {
    display: block;
    text-align: right;
}


@media screen and (min-width: 992px) {
    .list-nav {
        display: inline-block;
        line-height: 2;
        padding-right: 1rem;
        text-align: center;
    }
}

.list-footer {
    line-height: 1;
    padding-right: 2rem;
    text-align: center;
}

.a-default {
    text-decoration: none;
    color: rgba(0, 0, 0, .5);
}

.a-default:hover {
    color: #eb0f00;
    text-decoration: none;
}

@media screen and (min-width: 992px) {
    .a-default {
        background: none;
    }
}


.a-text-link {
    color: #000;
    text-decoration: underline;
}

.a-text-link:hover {
    color: #eb0f00;
}

.navbar {
    height: 98px;
}

@media screen and (min-width: 768px) {
    .navbar {
        height: 130px;
    }
}

@media screen and (min-width: 992px) {
    .navbar {
        height: 143px;
    }
}

.navbar-light .navbar-nav.hover-color>li>a:hover {
    color: #eb0f00;
}

/* Off Canvas */
.offcanvas-header {
    display: none;
}

@media (max-width: 992px) {
    .offcanvas-header {
        display: block;
        text-align: right;
        font-size: 16px;
    }

    .navbar-collapse {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 100%;
        width: 100%;
        padding-right: 1rem;
        padding-left: 1rem;
        overflow-y: auto;
        visibility: hidden;
        background-color: rgba(0, 0, 0, .6);
        transition: visibility .2s ease-in-out, -webkit-transform .2s ease-in-out;
    }

    .navbar-collapse.show {
        visibility: visible;
        transform: translateX(-100%);
    }
}


/* Buttons */
.btn-default {
    font-weight: 600;
    border: 1px solid #872E8C;
    margin-top: .5rem;
    margin-bottom: 1rem;
    background-color: #f5a02b;

}

.navbar-light .navbar-nav .nav-link.a-default {
    color: #fff;
}

@media screen and (min-width: 768px) {
    .navbar-light .navbar-nav .nav-link.a-default {
        color: rgba(0, 0, 0, .5);
    }
}

.navbar-light .navbar-nav .nav-link.btn-default {
    color: #212529;
}

.btn-default:hover {
    background-color: #f9c47c;
}

.btn-default:focus {
    background-color: #872E8C;
    ;
}

.btn-full-width {
    border-radius: 0;
    padding: .25rem;
}

#bs-margin-override {
    margin-top: .1rem;
}

.btn-col1,
.btn-hero {
    background-color: #f5a02b;
}

.btn-col1:hover {
    background-color: #f9c47c;
}

.btn-col2 {
    background-color: #5ab200;
}

.btn-col2:hover {
    background-color: #b0d887;
}

/* Containers */
.con-default {
    text-align: center;
    padding: 0 1rem 5rem 1rem;
}

@media screen and (min-width: 768px) {
    .con-default {
        padding: 0 1rem 7rem 1rem;
        text-align: center;
    }
}

.con-default.con-locations {
    padding-left: 3rem;
    padding-right: 3rem;
}

.con-locations .col-md-6 {
    padding: 0;
}

@media screen and (min-width: 576px) {
    .con-locations .col-md-6 {
        padding: 0 30px;
    }
}

.con-nav {
    background-color: #ebd5b4;
    padding: .5rem 2rem;
}

@media screen and (min-width: 768px) {
    .con-nav {
        padding: 1.5rem 3rem;
    }
}

.con-img-splash {
    height: 80vh;
    width: 100%;
    object-fit: cover;
    margin: 98px 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    /* z-index: 5; */
}

@media screen and (min-width: 768px) {
    .con-img-splash {
        margin: 130px 0 0 0;
    }
}

@media screen and (min-width: 992px) {
    .con-img-splash {
        margin: 143px 0 0 0;
    }
}

.con-img {
    padding: 3rem 0;
    text-align: center;
}

#map {
    width: 100%;
    height: 50vh;
}

@media screen and (min-width: 768px) {
    #map {
        height: 80vh;
    }
}

/* Media */
.img-girl {
    width: 30%;
    margin-bottom: 1rem;
}

@media screen and (min-width: 992px) {
    .img-girl {
        width: 25%;
        margin-bottom: -1rem;
    }
}

@media screen and (min-width: 992px) {
    .img-girl {
        margin-bottom: -3rem;
    }
}




.logo {
    width: 200px;
    object-fit: cover;
}

.overlay-logo {
    opacity: .7;
    z-index: 2;
    top: 50%;

}

.img-splash-opacity {
    opacity: 1;
}

@media screen and (min-width: 768px) {
    .img-splash-opacity {
        opacity: .85;
    }
}

.fab {
    padding: 0 .5rem 0 0;
    font-size: 1.5rem;
}

.fa-facebook-f,
.fa-facebook-square {
    color: #3b5998;
}

.fa-twitter,
.fa-twitter-square {
    color: #00acee;
}

.fa-instagram,
.fa-instagram-square {
    color: transparent;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text;
}

/* Component: Hero Carousel */
.overpic {
    opacity: .8;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.car-logo {
    width: 100%;
}

.car-image {
    max-height: 50vh;
    object-fit: cover;
    opacity: 1;
    margin-bottom: 5rem;
}

@media screen and (min-width: 768px) {
    .car-image {
        max-height: 80vh;
        opacity: .85;
        margin-bottom: 10rem;
    }
}

.car-story .car-image {
    margin: 0;
}

.car-story {
    margin-bottom: 7rem;
}

/* Component: Hero Banner (Not main page carousel) */
.con-hero {
    position: relative;
    padding: 1rem;
    margin-bottom: 5rem;
}

@media screen and (min-width: 768px) {
    .con-hero {
        margin-bottom: 7rem;
    }
}

.background-hero {
    position: relative;
    height: 80vh;
    background-image: url("../images/stockJumbo1.jpg");
    background-size: cover;
    background-position-y: center;
    width: 100%;
    z-index: 1;
}

.overlay-darker {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .4);
    z-index: 5;
    height: 80vh;
    width: 100%;
}

.overlay-text {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    z-index: 10;
    width: 100%;
    text-align: center;
}


/* Component: Home Menus Section*/
.con-row {
    position: relative;
    height: 600px;
    background-color: #eb0f00;
}

.col,
.col-md {
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 768px) {
    .con-row {
        height: 600px;
        margin: 0;
    }
}

.rt-top {
    background-color: #fff;
    height: 40%;
}

.rt-btm {
    height: 100%;
}

@media screen and (min-width: 992px) {
    .rt-btm {
        height: 60%;
    }
}

.img-home-menus {
    object-fit: cover;
    height: 250px;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .img-home-menus {
        position: absolute;
        top: 0;
        left: 50%;
        object-fit: cover;
        height: 600px;
        width: 50%;
    }
}

@media screen and (min-width: 992px) {
    .img-home-menus {
        position: absolute;
        top: 50%;
        left: 65%;
        transform: translate(-50%, -50%);
        z-index: 2;
        width: 750px;
        height: 425px;
        object-fit: cover;
    }
}

.con-home-menus {
    z-index: 3;
    position: absolute;
    top: 340px;
    left: 45%;
    transform: translate(-50%, -50%);
}


@media screen and (min-width: 768px) {
    .con-home-menus {
        top: 50%;
    }
}

@media screen and (min-width: 768px) {
    .con-home-menus p {
        max-width: 35%;
    }
}

/* Footer */
.footer {
    position: relative;
}

.footer-mobile {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 4;
}

.footer-mobile .btn-default {
    margin-bottom: 0;
}

/* Template */
.background-guac {
            background: url(../images/img-guac-500.png) no-repeat center fixed;
}


.background-avocado {
    background: url(../images/test-brightness-500.png) no-repeat center fixed;
}

.background-img {
    position: relative;
    background-size: 60%;
    background-position-x: 50%;
    background-position-y: 60%;
}

@media screen and (min-width: 768px) {
    .background-img {
        background-position-y: 60%;
        background-size: 30%;
    }
}

@media screen and (min-width: 992px) {
    .background-img {
        background-position-y: 70%;
    }
}

/* Reservations */
.con-res {
    background-image: linear-gradient(#eb0f00, #5ab200);
    width: 100%;
}


.con-res .row {
    justify-content: space-around;
    text-align: center;
}

.img-res {
    height: 500px;
    object-fit: cover;
}

.form-res {
    background-color: rgba(16, 24, 32, 0.8);
    margin: 3rem 0;
    padding: 3rem 2rem;
    text-align: start;
}

.mailing-list {
    background-color: rgba(16, 24, 32, 0.8);
    margin: 3rem 0;
    padding: 3rem 2rem;
}


.placeholder-color {
    color: #636c72;
}

@media screen and (min-width: 576px) {
    .modal-dialog {
        max-width: 100%;
    }
}

.fp-block .flatpickr-wrapper {
    display: block;
}


label {
    color: #fff;
}

.modal {
    padding-left: 18.9984px;
}

