@import "node_modules/bootstrap/scss/bootstrap.scss";

$con-mb: 8rem;


/* Universals */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 100%;
}

body {
    box-sizing: border-box;
}

/* Font */
.p-default {
    letter-spacing: 1px;
    padding: 1rem 0;
    line-height: 1.5;
    font-size: 1rem;
}

@media screen and (min-width: 576px) {
    .p-default {
        font-size: 1.25rem;
    }
}

.h1-default {
    font-size: 2rem;
    color: #fff;
    margin: 1rem 0;
    text-align: center;
}

@media screen and (min-width: 992px) {
    .h1-default {
        font-size: 5rem;
    }
}

.h2-default {
    font-size: 2rem;
}

@media screen and (min-width: 576px) {
    .h2-default {
        font-size: 3rem;
    }
}

/* Default Unordered List */
.ul-default {
    padding-left: 0;
    list-style: none;
    letter-spacing: 3px;
    display: flex;
}

@media screen and (min-width: 992px) {
    .ul-default {
        width: 70%;
    }
}

/* Default ul Animation */
@media screen and (min-width: 992px) {
    .ul-default--animation li {
        display: inline-block;
        position: relative;

        a:after {
            content: '';
            position: absolute;
            width: 0;
            height: 3px;
            display: block;
            margin-top: 5px;
        }

        a:hover:after {
            width: 100%;
            left: 0;
            background: #5ab200;
            transition: width .2s;
        }

        a.btn:after {
            height: 0px;
        }
    }
}

/* Two Column Unordered List */
.ul-grid-2col {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, auto);
    align-items: start;
    grid-auto-flow: column;
}

/* Footer List */
.list-footer {
    line-height: 1;
    padding-right: 2rem;
    text-align: center;
}

/* Default Anchor */
.a-default {
    text-decoration: none;
    color: rgba(0, 0, 0, .5);

    &:hover {
        color: #eb0f00;
        text-decoration: none;
    }
}

@media screen and (min-width: 992px) {
    .a-default {
        background: none;
    }
}

/* Text Link Anchor */
.a-text-link {
    color: #000;
    text-decoration: underline;

    &:hover {
        color: #eb0f00;
    }
}

// Data-Scroll
[data-scroll] {
    opacity: 0;
    will-change: transform, scale, opacity;
    -webkit-transform: translateY(6rem) scale(0.93);
    transform: translateY(6rem) scale(0.93);
    -webkit-transition: all 1.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 1.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

[data-scroll='in'] {
    opacity: 1;
    -webkit-transform: translateY(0) scale(1);
    transform: translateY(0) scale(1);
}


/* Navbar */
// #sec-nav {
//     display: none; //Use just for testing in dev tools for more screen space
// }

.con-nav {
    background-color: #ebd5b4;
    padding: .5rem 2rem;
}

@media screen and (min-width: 768px) {
    .con-nav {
        padding: 1.5rem 3rem;
    }
}

.con-nav__logo {
    width: 10rem;
}

@media screen and (min-width: 576px) {
    .con-nav__logo {
        width: 15rem;
    }
}

.con-nav__li {
    display: block;
    text-align: right;
}

@media screen and (min-width: 992px) {
    .con-nav__li {
        display: inline-block;
        line-height: 2;
        margin-right: 1rem;
        text-align: center;
    }
}

@media screen and (min-width: 992px) {
    .dropdown-menu>a:hover:after {
        width: 100%;
        background: #5ab200;
        transition: width 0s;
    }
}

.con-nav .navbar-nav.hover-color>li>a:hover {
    color: #eb0f00;
}

.con-nav .nav-link.btn {
    display: inline;
    padding: 10px;
    line-height: 4;
}

/* Off Canvas Mobile Navbar */
.con-nav__offcanvas__header {
    display: none;
}

@media (max-width: 992px) {
    .con-nav__offcanvas__header {
        display: block;
        text-align: right;
        font-size: 16px;
    }

    .con-nav__offcanvas.navbar-collapse {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 100%;
        width: 100%;
        padding-right: 1rem;
        padding-left: 1rem;
        overflow-y: auto;
        visibility: hidden;
        background-color: rgba(0, 0, 0, .8);
        transition: visibility .2s ease-in-out, -webkit-transform .2s ease-in-out;

        &.show {
            visibility: visible;
            transform: translateX(-100%);
        }
    }
}

.con-nav .con-nav__offcanvas .navbar-nav {

    .nav-link {
        color: #fff;
    }

    .nav-link:active {
        color: rgb(209, 209, 209);
    }
}

@media screen and (min-width: 992px) {
    .con-nav .navbar-nav .nav-link {

        &.a-default {
            color: rgba(0, 0, 0, .5);
        }

        &.btn-default {
            color: #212529;
        }
    }
}

//Note that this media query MUST follow the .con-nav .con-nav__offcanvas... selectors above!

/* Module: Carousel */
.con-carousel__overpic {
    opacity: .8;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.con-carousel__image {
    max-height: 50vh;
    object-fit: cover;
    opacity: 1;
    margin-bottom: 5rem;
}

@media screen and (min-width: 768px) {
    .con-carousel__image {
        max-height: 80vh;
        opacity: .85;
        margin-bottom: $con-mb;
    }
}

.con-carousel {
    .carousel-control-prev {
        z-index: 3;
    }

    .carousel-control-next {
        z-index: 3;
    }
}

/* Default Container */
.con-default {
    padding: 0 1rem 3rem 1rem;
    text-align: center;
    position: relative;
    width: 80%;
    margin: 0 auto $con-mb auto;

    .h1-default {
        color: #000;
        margin-top: 0;
        line-height: 1.1;
    }
}

@media screen and (min-width: 576px) {
    .con-default {
        padding: 0 1rem 5rem 1rem;
    }
}

@media screen and (min-width: 768px) {
    .con-default {
        padding: 0;
    }
}

@media screen and (min-width: 768px) {
    .con-default .h2-default {
        font-size: 3rem;
    }
}


/* Menu Container */

.background-guac {
    background: url(/assets/img/img-guac-500.png) no-repeat center fixed;
}


.background-avocado {
    background: url(/assets/img/test-brightness-500.png) no-repeat center fixed;
}

.background-img {
    position: relative;
    background-size: 60%;
    background-position-x: 50%;
    background-position-y: 60%;
}

@media screen and (min-width: 768px) {
    .background-img {
        background-position-y: 60%;
        background-size: 30%;
    }
}

@media screen and (min-width: 992px) {
    .background-img {
        background-position-y: 70%;
    }
}

.col-content {
    min-height: 60px;
    border-left: 1px solid #000;
    padding-left: 1rem;
    padding-bottom: 2.5rem;
}

.col-header {
    min-height: 60px;
    border-left: 1px solid #000;
    padding-left: 1rem;
    padding-bottom: 0;
}

.menu-sec-header {
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.menu-item {
    border-left: 1px solid #000;
    padding: 0 2rem 2.5rem 1rem;
    width: calc(50% - 30px);
    min-height: 60px;
    margin: 15px;
    background-color: #CEBFFF;
}

.menu-item-heading {
    font-size: 1.25rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0;
}

.menu-sec-content {
    margin: 0;
    line-height: 1.1;
}

.menu-sec-price {
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: .25rem;
    margin-top: 1rem;
}

.menu-sec-veg {
    font-size: 80%;
    font-weight: normal;
}



/* Buttons */
.btn-default {
    font-weight: 600;
    border: 1px solid #872E8C;
    margin-top: .5rem;
    margin-bottom: 1rem;
    background-color: #f5a02b;

}

.btn-default:hover {
    background-color: #f9c47c;
}

.btn-default:focus {
    background-color: #f5a02b;
}

.btn-full-width {
    border-radius: 0;
    padding: .25rem;
}

#bs-margin-override {
    margin-top: .1rem;
}

.btn-col2 {
    background-color: #5ab200;
}

.btn-col2:hover {
    background-color: #b0d887;
}

.con-img {
    padding: 3rem 0;
    text-align: center;
}

.con-img-splash {
    height: 80vh;
    width: 100%;
    object-fit: cover;
    margin: 98px 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    /* z-index: 5; */
}

@media screen and (min-width: 768px) {
    .con-img-splash {
        margin: 130px 0 0 0;
    }
}

@media screen and (min-width: 992px) {
    .con-img-splash {
        margin: 143px 0 0 0;
    }
}

/* Locations Container */
.con-default.con-locations {
    padding-left: 3rem;
    padding-right: 3rem;
}

.con-locations .col-md-6 {
    padding: 0;
}

@media screen and (min-width: 576px) {
    .con-locations .col-md-6 {
        padding: 0 30px;
    }
}

/* Google Map */
#map {
    width: 100%;
    height: 50vh;
}

@media screen and (min-width: 768px) {
    #map {
        height: 80vh;
    }
}

/* Carmelitas Image */
.img-girl {
    margin-bottom: -2rem;
}

@media screen and (min-width: 992px) {
    .img-girl {
        width: 25%;
        margin-bottom: -1rem;
    }
}

@media screen and (min-width: 992px) {
    .img-girl {
        margin-bottom: -3rem;
    }
}

/* Social Icons */
.fab {
    padding: 0 .5rem 0 0;
    font-size: 2rem;
}

.fa-facebook-f,
.fa-facebook-square {
    color: #3b5998;
}

.fa-twitter,
.fa-twitter-square {
    color: #00acee;
}

.fa-instagram,
.fa-instagram-square {
    color: transparent;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text;
}

/* Module: Static Hero Banner */
.con-hero {
    position: relative;
    padding: 1rem;
    margin-bottom: 5rem;
}

@media screen and (min-width: 768px) {
    .con-hero {
        margin-bottom: 7rem;
    }
}

.background-hero {
    position: relative;
    height: 80vh;
    background-image: url("/assets/img/stockJumbo1.jpg");
    background-size: cover;
    background-position-y: center;
    width: 100%;
    z-index: 1;
}

.overlay-darker {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .4);
    z-index: 5;
    height: 80vh;
    width: 100%;
}

.overlay-text {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    z-index: 10;
    width: 100%;
    text-align: center;
}


/* Module: Menu Teaser Section*/
.con-menu-teaser {
    position: relative;
    height: 600px;
    background-color: #eb0f00;
}

@media screen and (min-width: 768px) {
    .con-menu-teaser {
        height: 600px;
        margin: 0;
    }
}

.con-menu-teaser__header {
    font-size: 4rem;
    text-shadow: -1px -1px #5ab200,
        1px -1px 0 #5ab200,
        -1px 1px 0 #5ab200,
        1px 1px 0 #5ab200;
    line-height: .8;
    font-family: 'Libre Franklin',
        sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

@media screen and (min-width: 992px) {
    .con-menu-teaser__header {
        font-size: 7rem;
    }
}

.con-menu-teaser .col,
.con-menu-teaser .col-md {
    margin: 0;
    padding: 0;
}

.con-menu-teaser__rt-top {
    background-color: #fff;
    height: 40%;
}

.con-menu-teaser__rt-btm {
    height: 100%;
}

@media screen and (min-width: 992px) {
    .con-menu-teaser__rt-btm {
        height: 60%;
    }
}

.con-menu-teaser__img {
    object-fit: cover;
    height: 250px;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .con-menu-teaser__img {
        position: absolute;
        top: 0;
        left: 50%;
        object-fit: cover;
        height: 600px;
        width: 50%;
    }
}

@media screen and (min-width: 992px) {
    .con-menu-teaser__img {
        position: absolute;
        top: 50%;
        left: 65%;
        transform: translate(-50%, -50%);
        z-index: 2;
        width: 750px;
        height: 425px;
        object-fit: cover;
    }
}

.con-menu-teaser__text {
    z-index: 3;
    position: absolute;
    top: 340px;
    left: 45%;
    transform: translate(-50%, -50%);
}

@media screen and (min-width: 768px) {
    .con-menu-teaser__text {
        top: 50%;
    }
}

@media screen and (min-width: 768px) {
    .con-menu-teaser__text p {
        max-width: 35%;
    }
}

/* Footer */
.footer {
    position: relative;
}

.footer-mobile {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 4;
}

.footer-mobile .btn-default {
    margin-bottom: 0;
}

/* Reservations */
.con-res {
    background-image: linear-gradient(#eb0f00, #5ab200);
    width: 100%;
}


.con-res .row {
    justify-content: space-around;
    text-align: center;
}


.img-res {
    height: 300px;
    object-fit: cover;
    transform: rotate(30deg);
}

@media screen and (min-width: 992px) {
    .img-res {
        height: 500px;
        transform: rotate(0deg);
    }
}

.form-res {
    background-color: rgba(16, 24, 32, 0.8);
    margin: 3rem 1rem;
    padding: 3rem 2rem;
    text-align: start;
}

@media screen and (min-width: 992px) {
    .form-res {
        margin: 3rem 0;
    }
}

@media screen and (min-width: 576px) {
    .col-md-6.form-res {
        flex: 0 0 80%;
        max-width: none;
    }
}

@media screen and (min-width: 992px) {
    .col-md-6.form-res {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

/* Mailing List */
.mailing-list {
    background-color: rgba(16, 24, 32, 0.8);
    margin: 3rem 0;
    padding: 3rem 2rem;
}

.placeholder-color {
    color: #636c72;
}

.modal-dialog .row {
    margin-left: 0;
    margin-right: 0;
}

@media screen and (min-width: 576px) {
    .modal-dialog {
        max-width: 100%;
    }
}

.fp-block .flatpickr-wrapper {
    display: block;
}

label {
    color: #fff;
}

/* Do I need these?! */
.hours .p-default {
    padding: 0;
}