<!-- RESERVATION MODAL -->
<div class="modal fade text-dark" id="reservations">
    <div class="modal-dialog">

        <div class="con-res modal-content">
            <div class="modal-header">
                <h1 class="h2-default text-white">RESERVATIONS</h1>
                <button class="close" data-dismiss="modal">
                    <span class="close-x-size">&times;</span>
                </button>
            </div>
            <div class="row modal-body">
                <div class="col-md-3 my-auto d-none d-lg-block"><img class="img-res"
                        src="assets/img/CARMELITAS menu illustrations textured-01.png">
                </div>
                <div class="col-md-6 form-res">
                    <form method="post" action="/form">
                        <!-- TEXT FIELD GROUPS -->
                        <div class="form-group">
                            <label for="name">Your Name</label>
                            <input class="form-control form-control-lg" type="text" name="name" id="name" placeholder="" required="true" autocomplete="new-password">
                        </div>
                        <div class="form-group">
                            <label for="email">Your Email (Optional, for contact purposes only.)</label>
                            <input class="form-control form-control-lg" type="email" id="email" placeholder="" autocomplete="new-password">
                            <div class="form-check">
                                <label class="form-check-label mr-2">
                                    <input type="checkbox" class="form-check-input" autocomplete="new-password">Sign me up to
                                    receive
                                    coupons and other discounts!
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="phone-number">Your Phone Number</label>
                            <input class="form-control form-control-lg" type="tel" id="phone-number" placeholder="" required="true" autocomplete="new-password">
                            <small class="form-text text-muted">Your personal information will never be
                                shared</small>
                        </div>
                        <div class="form-group">
                            <label for="number-people">Number of People</label>
                            <input class="form-control form-control-lg" type="text" id="number-people" placeholder="" required="true" autocomplete="new-password">
                        </div>
                        <div class="form-group">
                            <label for="choose-location">Choose a Location</label>
                            <select class="form-control form-control-lg placeholder-color" type="text"
                                id="choose-location" required="true">
                                <option selected disabled></option>
                                <option>St. Petersburg</option>
                                <option>Largo</option>
                                <option>New Port Richey</option>
                                <option>Pinellas Park</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="date-time">Select Date & Time</label>
                            <div class="fp-block">
                                <input class="form-control form-control-lg fp-block" type="text" id="basicDate" placeholder="" data-input placeholder="Select Time & Date" required="true" autocomplete="new-password">
                            </div>
                        </div>
                        <button class="btn btn-block btn-light mt-5" type="submit">Submit</button>
                    </form>

                </div>
                <div class="col-md-3 my-auto d-md-none d-lg-block"><img class="img-res"
                        src="assets/img/CARMELITAS menu illustrations textured-08.png">
                </div>
            </div>
        </div>
    </div>
</div>