---

---
 
 <!-- Footer -->
 <div class="footer-mobile d-sm-block d-md-none">
     <button class="btn btn-default btn-full-width btn-default btn-block" data-toggle="modal"
         data-target="#reservations">RESERVATIONS</button>
     <a id="bs-margin-override" class="btn btn-default btn-full-width btn-col2 btn-block" href="./find-location.html">FIND A
         LOCATION</a>
 </div>

 <div class="footer">
     <div class="con-nav text-left d-none d-md-block">
         <div class="con-footer d-flex align-items-center justify-content-between">
             <div class="footer-socials">
                 <a href="https://www.facebook.com/CarmelitasMexicanRestSPFLA/?epa=SEARCH_BOX" target="_blank"
                     rel="noopener noreferrer"><i class="fab fa-facebook-square"></i></a>
                 <a href="https://www.instagram.com/explore/locations/941625/carmelitas-mexican-restaurant-sp?hl=en"
                     target="_blank" rel="noopener noreferrer"><i class="
                        fab fa-instagram-square"></i></a>
             </div>
             <div>
                 <p class="m-0 text-center">Copyright <span id="year"></span></p>
             </div>
         </div>
         <div class="con-footer d-flex align-items-center justify-content-between">
             <ul class="ul-default font-weight-bold mb-0 d-flex">
                 <li class="list-footer"><a class="a-default" href="./terms-of-use.html">TERMS OF USE</a>
                 </li>
                 <li class="list-footer"><a class="a-default" href="./privacy-policy.html">PRIVACY
                         POLICY</a></li>
                 <li class="list-footer"><a class="a-default" href="./contact.html">CONTACT</a></li>
             </ul>
             <div>
                 <p class="m-0 text-center"><strong>ARCANA</strong> Media
                 </p>
             </div>
         </div>
     </div>
 </div>
