<!-- Navbar -->
<nav id="sec-nav" class="navbar con-nav {{add-background-class}} navbar-expand-lg navbar-light" id="main-nav">
    <a class="navbar-brand mr-0 ml-n3" href="index.html">
        <img id="js-logo" class="con-nav__logo {{js-logo-d-none-class}} d-md-block" src="{${ default.path }$}assets/img/brand.png" alt="" loading="lazy"> </a>
    <!-- Hamburger button> -->
        <button class="navbar-toggler" type="button" data-trigger="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="con-nav__offcanvas navbar-collapse" id="navbarSupportedContent">
        <div class="con-nav__offcanvas__header mt-3">
            <button class="btn btn-danger btn-close"> &times </button>
        </div>
        <ul class="ul-df ul-df--animation navbar-nav text-center d-block mb-0 mr-auto ml-auto font-weight-bold hover-color">
            <li class="nav-item con-nav__li active">
                <a class="nav-link a-df pr-50" href="index.html">{${ global-nav.home }$}<span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item con-nav__li">
                <a class="nav-link a-df" href="./menus.html">{${ global-nav.menu }$}</a>
            </li>
            <li class="nav-item con-nav__li dropdown show">
                <a class="nav-link a-df" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    {${ global-nav.loc }$}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="./locations-stpete.html">ST. PETERSBURG</a>
                    <a class="dropdown-item" href="./locations-largo.html">LARGO</a>
                    <a class="dropdown-item" href="./locations-new-port-richey.html">NEW PORT RICHEY</a>
                    <a class="dropdown-item" href="./locations-pinellas-park.html">PINELLAS PARK</a>
                </div>
            </li>
            <li class="nav-item con-nav__li">
                <a class="nav-link a-df" data-toggle="modal" data-target="#reservations">{${ global-nav.res }$}</a>
            </li>
            <li class="nav-item con-nav__li">
                <a class="nav-link a-df" href="./our-story.html">{${ global-nav.story }$}</a>
            </li>
            <li class="nav-item con-nav__li">
                <a class="nav-link a-df mb-4 mb-md-0" href="./catering.html">{${ global-nav.cater }$}</a>
            </li>
            <li class="nav-item con-nav__li d-lg-none">
                <a class="nav-link con-nav__li-sm a-df" href="./contact.html">{${ global-nav.contact }$}</a>
            </li>
            <li class="nav-item con-nav__li d-lg-none">
                <a class="nav-link con-nav__li-sm a-df" href="./privacy-policy.html">Privacy Policy</a>
            </li>
            <li class="nav-item con-nav__li d-lg-none">
                <a class="nav-link con-nav__li-sm a-df" href="./terms-of-service.html">Terms of Service</a>
            </li>
            <li class="nav-item con-nav__li">
                <a class="nav-link btn btn-df" target="_blank" rel="noopener noreferrer"
                    href="https://www.chowhound.com/">{${ global-nav.takeout }$}</a>
            </li>
        </ul>
    </div>

    <div class="navbar-brand d-none d-lg-block mr-0">
        <a href="https://www.facebook.com/CarmelitasMexicanRestSPFLA/?epa=SEARCH_BOX" target="_blank"
            rel="noopener noreferrer"><i class=" fab fa-facebook-f
                pr-3"></i></a>
        <a href="https://www.instagram.com/explore/locations/941625/carmelitas-mexican-restaurant-sp?hl=en"
            target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram pl-3"></i> </a>
    </div>
</nav>
