<div class="background-avocado background-img">
    <div class="con-hero">
        <div class="background-hero">
            <div class="overlay-darker"></div>
            <div class="overlay-text">
                <h1 class="header-default h1-default">DAILY MENU</h1>
                <div class="con-btn">
                    <button type="button" id="menu-daily" class="btn btn-default btn-hero mr-1 d-none" href="#">DAILY
                        MENU</button>
                    <button type="button" id="menu-catering" class="btn btn-default btn-hero ml-1 d-none"
                        href="#">CATERING</button>
                </div>

            </div>
        </div>
    </div>