<div class="con-default locations-sec" data-scroll>
    <h2 class="h2-default mt-4 mt-lg-0 mb-2 mb-lg-4">VISIT ONE OF OUR FOUR BAY AREA LOCATIONS</h2>
    <div id="map-all">
        <div id="map-all"></div>
        <div class="map-overlay"></div>
    </div>
    <div class="row mt-5 text-center">
        <div class="col-md-6">
            <div><img class="icon mt-4" src="assets/img/peppers-sm.png"></div>
            <h3><a class="a-default" href="/locations-stpete.html">
                    <span></span>ST. PETERSBURG</a></h3>
            <p class="p-default"><a class="a-text-link" target="_blank" rel="noopener noreferrer"
                    href="https://goo.gl/maps/rNfw6H5WaqeEzVbL7">5211 Park Street
                    North,<br>
                    St. Petersburg, Florida 33709</a></p>
            <p>727-545-2956</p>
        </div>
        <div class="col-md-6">
            <div><img class="icon mt-4" src="assets/img/lime-sm.png"></div>
            <h3><a class="a-default" href="/locations-pinellas.html">PINELLAS PARK</a></h3>
            <p class="p-default"><a class="a-text-link" target="_blank" rel="noopener noreferrer"
                    href="https://goo.gl/maps/CAxe5Q2TznB1Amom7">6218 66th
                    Street,<br>
                    Pinellas Park, Florida 33781</a></p>
            <p>727-545-8226</p>
        </div>
        <div class="col-md-6">
            <div><img class="icon mt-4" src="assets/img/maracas-sm.png"></div>
            <h3><a class="a-default" href="/locations-largo.html">LARGO</a>
            </h3>
            <p class="p-default"><a class="a-text-link" target="_blank" rel="noopener noreferrer"
                    href="https://goo.gl/maps/tf5MswP32EoG2Pzv7">7705 Ulmerton
                    Road,<br>
                    Largo, Florida 33771</a></p>
            <p>727-533-8555</p>
        </div>
        <div class="col-md-6">
            <div><img class="icon mt-4" src="assets/img/agave-sm.png"></div>
            <h3><a class="a-default" href="/locations-new-port-richey.html">NEW PORT RICHEY</a></h3>
            <p class="p-default"><a class="a-text-link" target="_blank" rel="noopener noreferrer"
                    href="https://goo.gl/maps/vzbEHko1i5GJmm2C9">8526 Old
                    County Road 54,<br>
                    St. Petersburg, Florida 34655</a></p>
            <p>727-376-4800</p>
        </div>
    </div>
</div>

{{> google-maps-all-script}}