<div class="con-default locations-sec" data-scroll>
    <h2 class="h2-default mt-4 mt-lg-0 mb-2 mb-lg-4">VISIT ONE OF OUR FOUR BAY AREA LOCATIONS</h2>
    <div class="con-map">
        <div id="map"></div>
        <div class="map-overlay"></div>
    </div>
    <div class="row mt-5 text-center">
        <div class="col-md-6">
            <div><img class="icon mt-4" src="assets/img/peppers-sm.png"></div>
            <h3><a class="a-default" href="/locations-stpete.html">
                    <span></span>ST. PETERSBURG</a></h3>
            <p class="p-default"><a class="a-text-link" target="_blank" rel="noopener noreferrer"
                    href="https://goo.gl/maps/rNfw6H5WaqeEzVbL7">5211 Park Street
                    North,<br>
                    St. Petersburg, Florida 33709</a></p>
            <p>727-545-2956</p>
        </div>
        <div class="col-md-6">
            <div><img class="icon mt-4" src="assets/img/lime-sm.png"></div>
            <h3><a class="a-default" href="/locations-pinellas.html">PINELLAS PARK</a></h3>
            <p class="p-default"><a class="a-text-link" target="_blank" rel="noopener noreferrer"
                    href="https://goo.gl/maps/CAxe5Q2TznB1Amom7">6218 66th
                    Street,<br>
                    Pinellas Park, Florida 33781</a></p>
            <p>727-545-8226</p>
        </div>
        <div class="col-md-6">
            <div><img class="icon mt-4" src="assets/img/maracas-sm.png"></div>
            <h3><a class="a-default" href="/locations-largo.html">LARGO</a>
            </h3>
            <p class="p-default"><a class="a-text-link" target="_blank" rel="noopener noreferrer"
                    href="https://goo.gl/maps/tf5MswP32EoG2Pzv7">7705 Ulmerton
                    Road,<br>
                    Largo, Florida 33771</a></p>
            <p>727-533-8555</p>
        </div>
        <div class="col-md-6">
            <div><img class="icon mt-4" src="assets/img/agave-sm.png"></div>
            <h3><a class="a-default" href="/locations-new-port-richey.html">NEW PORT RICHEY</a></h3>
            <p class="p-default"><a class="a-text-link" target="_blank" rel="noopener noreferrer"
                    href="https://goo.gl/maps/vzbEHko1i5GJmm2C9">8526 Old
                    County Road 54,<br>
                    St. Petersburg, Florida 34655</a></p>
            <p>727-376-4800</p>
        </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.0/jquery.waypoints.js"></script>

<!-- Script -->
<script>
    // The location of Carmelitas
    var LatLng0 = { // St. Pete
        lat: 27.819290,
        lng: -82.753480
    };

    var LatLng1 = { // Pinellas
        lat: 27.828946,
        lng: -82.729040
    }

    var LatLng2 = { // Largo
        lat: 27.895137,
        lng: -82.744223
    }

    var LatLng3 = { // Nw Port Richey
        lat: 28.019995,
        lng: -82.772450

    }


    // Initialize and add the map
    function initMap() {
        var map = new google.maps.Map(
            document.getElementById('map'), {
                zoom: 11,
                center: {
                    lat: 27.94,
                    lng: -82.757689
                }
            });

        var image = 'assets/img/taco.png';

        // Use Waypoints plugin to initialize the markers on scroll
        var waypoint = new Waypoint({
            element: document.getElementById('taco-drop'),
            handler: function (direction) {
                if (direction === 'down') {

                    // The marker, positioned at litas
                    setTimeout(function () {
                        markerStPete = new google.maps.Marker({
                            map: map,
                            animation: google.maps.Animation.DROP,
                            position: LatLng0,
                            icon: image
                        });
                    }, 1500);

                    markerPinellas = new google.maps.Marker({
                        map: map,
                        animation: google.maps.Animation.DROP,
                        position: LatLng1,
                        icon: image
                    });

                    setTimeout(function () {
                        markerLargo = new google.maps.Marker({
                            map: map,
                            animation: google.maps.Animation.DROP,
                            position: LatLng2,
                            icon: image
                        });
                    }, 1000);

                    setTimeout(function () {
                        markerNewport = new google.maps.Marker({
                            map: map,
                            animation: google.maps.Animation.DROP,
                            position: LatLng3,
                            icon: image
                        });
                    }, 2000);

                    this.destroy();
                }
            }
        });
    }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap">
</script>